        #top
        {
            text-align: center;
            color: gold;
            border-style: dotted;
            padding: 10px;
        
        }
        
        #olbox
        {
            border-style: solid;
            border-color: black;
            border-width: 4px;
            padding: 20px;
            color: pink;
            
            
        }
        
        #picture
        {
            border-style: solid;
            padding: 20px;
            border-color: green;
            background-color: green;
        
        }
        
        #definition
        {
            font-style: italic;
            color: 
        
        }
